<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnd.alynchos.dndcharactertracker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DnDTabBarActivity"
            android:label="DnDTabBarActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Character.CharacterSheetActivity"
            android:label="@string/title_activity_character_sheet"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.dnd.alynchos.UPDATE_UI" />
                <action android:name="com.dnd.alynchos.CLEAR_CHAR" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Items.InventoryActivity"
            android:label="@string/title_activity_inventory" >
            <intent-filter>
                <action android:name="com.dnd.alynchos.UPDATE_INV_UI" />
                <action android:name="com.dnd.alynchos.CLEAR_INV" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Character.CombatActivity"
            android:label="@string/title_activity_combat" >
        </activity>
        <activity
            android:name=".Character.NotesActivity"
            android:label="@string/title_activity_notes" >
        </activity>
    </application>

</manifest>
